@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmEU9vBgU0S6WX_eEiCwrB&skey=ee881451c540fdec&v=v29) format('woff2');
}
